@model IEnumerable<AppBolo2.Models.Bolo>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center text-success">Bem vindo ao Sistema de bolo</h1>

<p>
    <a class="text-light btn btn-primary" asp-action="Create">Novo Bolo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaborRecheio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaborMassa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCobertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiamentroCentimetro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeAndar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeBolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorUnitario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaborRecheio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaborMassa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCobertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiamentroCentimetro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeAndar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeBolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitario)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdBolo">Editar</a>
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.IdBolo">Detalhes</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdBolo">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
